* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: sans-serif;
    font-size: 140%;
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
}

/* nav */
#admin-main-nav {
    width: 100%;
    background-color: #F47124;
    height: 2em;
    line-height: 2em;
    display: flex;
}

#admin-main-nav-title {
    letter-spacing: 0.08em;
    padding-left: 2%;
    font-size: 110%;
    color: #FFFFFF;
    width: 20%;
}

#admin-main-nav-login {
    font-size: 70%;
    color: #FFFFFF;
    letter-spacing: 0.08em; 
    width: 76%;
    text-align: right;
    margin-right: 0.5%;
}

#admin-main-nav-login-img-container {
    width: 1.6em;
    margin-top: 0.2em;
}

#admin-main-nav-login-img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #EEEEEE;
}

/* menu dọc trái */
#admin-main-menu-container {
    margin: 2%;
    display: inline-flex;
    flex-direction: column;
    width: 20%;
}

#admin-main-menu-container a.active{
    background-color: #F47124;
    color: #FFFFFF;
    border-radius: 1em;
}

#admin-main-menu-container a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 1em;
}

.admin-main-menu-list {
    text-decoration: none;
    color: #F47124;
    padding: 0.8em;
    margin-bottom: 4%;
    line-height: 1.5em;
    width: 6em;
    text-align: center;
}

.admin-main-menu-list-icon {
    font-size: 120%;
}

.admin-main-menu-list-text {
    font-size: 70%;
}

#admin-main-wordlist_right_infor {
    width: 68%;
    display: inline-flex;
    flex-direction: column;
}

#admin-main-wordlist_right_infor_nav{
    display: inline-flex;
    width: 16em;
    font-size: 90%;
}

#admin-main-wordlist_right_infor_nav a {
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 0.5em 2em;
    border-radius: 1em 1em 0 0;
    margin: 0.01em;
    letter-spacing: 0.12em;
    color: #F47124;
}

#admin-main-wordlist_right_infor_nav .active {
    background-color: #F47124;
    color: #FFFFFF;
}

#admin-main-wordlist_right_infor_nav :not(.active):hover {
    background-color: #ddd;
}

#admin-main-account-list-add {
    display: flex;
    margin-left: 11.5em;
    margin-top: 2em;
}

#admin-main-supervisor-add {
    background-color: #FFFFFF;
    padding-left: 1%;
    border-radius: 1em;
    font-size: 80%;
    width: 9em;
    display: inline-flex;
    margin-right: 1em;
    border: 1px solid #F47124;
}

#admin-main-supervisor-add:hover {
    background-color: #f4702450;
}

.add-btn {
    color: #F47124;
    font-size: 1.4em;
    padding-right: 0.2em;
    margin-top: 0.2em;
    padding-bottom: 0.2em;
}

#admin-main-supervisor-add-btn {
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #000000;
    height: 2em;
    line-height: 2.5em;
}

#admin-main-wordlist_right_infor_title_container {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 80%;  
    padding-bottom: 2em;
    margin-bottom: 2em;
}

#admin-main-account-list-search-container { 
    border: 1px solid #F47124;
    border-radius: 1em;
    color: #F47124;
    font-size: 80%;
    width: 10em;
    line-height: 2em;
    height: 2em;
}

#admin-main-account-list-search {
    border: none;
    color: #F47124;
    padding: 2%;
    width: 7em;
}

#admin-main-account-list-search::placeholder {
    color: #F47124;
}

#admin-main-account-list-search:focus {
    outline: 0;
}

#admin-main-wordlist_right_infor_title_list {
    display: inline-flex;
    width: 60%;
    justify-content: space-between;
    padding: 1% 6%;
    padding-right: 20%;
    font-size: 90%;
    background-color: #F47124;
    margin-top: 1em;
    font-weight: 600;
    letter-spacing: 0.08em;
}

.admin-main-wordlist_right_infor_content_list {
    width: 60%;
    display: inline-flex;
    border: 1px solid #ddd;
}



.admin-main-wordlist_right_infor_content_list_date {
    border-right: 1px solid #ddd;
    padding: 0.5em;
    padding-left: 3.5em;
    padding-right: 3.5em;
}

.admin-main-wordlist_right_infor_content_list_word {
    padding: 0.5em;
    padding-left: 8em;
    overflow: hidden;
}

.admin-main-account-list-page-number {
    width: 80%;
    text-align: center;
    font-size: 80%;
    margin: auto;
    padding-top: 2em;
}

.admin-main-account-list-page-number a {
    color: black;
    padding: 12px 18px;
    text-decoration: none;
}

.admin-main-account-list-page-number a.active {
    background-color: #F47124;
    color: white;
    border-radius: 50%;
}

.admin-main-account-list-page-number a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50%;
}

/* --------------------------------------- */
#user-main-small-control {
    display: none;
    position: absolute;
    top: 3.4em;
    right: 1em;
    font-size: 60%;
    background-color: #ffffffbd;
    color: #F47124;
    text-align: center;
    border-radius: 0 0 0.2em 0.2em;
    font-size: 700;
    border: 1px solid #FFFFFF;
}

.fa-right-from-bracket {
    margin-right: 0.5em;
}

#user-main-small-name {
    padding: 0.6em;
    border-bottom: 1px solid #F47124;
    letter-spacing: 0.06em;
}
#user-main-small-name:hover {
    padding: 0.6em;
    letter-spacing: 0.06em;
}

#user-main-small-logout {
    padding: 0.6em;
    letter-spacing: 0.06em;
}

#user-main-small-control > p:hover {
    background-color: #F47124;
    color: #FFFFFF;
    cursor: pointer;
}

/* --------------------------------------- */












