* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: sans-serif;
    font-size: 140%;
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
}

/* nav */
#admin-main-nav {
    width: 100%;
    background-color: #F47124;
    height: 2em;
    line-height: 2em;
    display: flex;
}

#admin-main-nav-title {
    letter-spacing: 0.08em;
    padding-left: 2%;
    font-size: 110%;
    color: #FFFFFF;
    width: 20%;
}

#admin-main-nav-login {
    font-size: 70%;
    color: #FFFFFF;
    letter-spacing: 0.08em; 
    width: 76%;
    text-align: right;
    margin-right: 0.5%;
}

#admin-main-nav-login-img-container {
    width: 1.6em;
    margin-top: 0.2em;
}

#admin-main-nav-login-img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #EEEEEE;
}

/* menu dọc trái */
#admin-main-menu-container {
    margin: 2%;
    display: inline-flex;
    flex-direction: column;
    width: 20%;
}

#admin-main-menu-container a.active{
    background-color: #F47124;
    color: #FFFFFF;
    border-radius: 1em;
}

#admin-main-menu-container a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 1em;
}

.admin-main-menu-list {
    text-decoration: none;
    color: #F47124;
    padding: 0.8em;
    margin-bottom: 4%;
    line-height: 1.5em;
    width: 6em;
    text-align: center;
}

.admin-main-menu-list-icon {
    font-size: 120%;
}

.admin-main-menu-list-text {
    font-size: 70%;
}

#admin-main-wordlist_right_infor {
    width: 68%;
    display: inline-flex;
    flex-direction: column;
}

#admin-main-wordlist_right_infor_nav{
    display: inline-flex;
    width: 16em;
    font-size: 90%;
}

#admin-main-wordlist_right_infor_nav a {
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 0.5em 2em;
    border-radius: 1em 1em 0 0;
    margin: 0.01em;
    letter-spacing: 0.12em;
    color: #F47124;
}

#admin-main-wordlist_right_infor_nav .active {
    background-color: #F47124;
    color: #FFFFFF;
}

#admin-main-wordlist_right_infor_nav :not(.active):hover {
    background-color: #ddd;
}

#admin-main-wordlist_right_infor_title_container {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 80%;  
    padding-bottom: 2em;
    margin-bottom: 2em;
    width: 70%;
    border-radius: 0em 1em 1em 1em;
}

#admin-main-wordlist_right_infor_title_list {
    display: inline-flex;
    width: 93%;
    justify-content: space-around;
    padding: 0.4em 1em;
    font-size: 90%;
    background-color: #F47124;
    margin-top: 2em;
    font-weight: 600;
    letter-spacing: 0.08em;
    border-radius: 1em;
}

#admin-main-wordlist_right_infor_content_list_container {
    width: 89%;
    border: 1px solid #F47124;
    margin: auto;
    padding: 0.5em 0em;
    border-radius: 0 0 0.5em 0.5em;
}

.admin-main-wordlist_right_infor_content_list {
    width: 100%;
    padding: 0.4em 1em;
    margin: auto;
}



.admin-main-wordlist_right_infor_content_list_infor {
    display: inline-flex;
}

.admin-main-wordlist_right_infor_content_list_infor-topic {
    width: 10em;
    padding: 0.5em 0.5em;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.admin-main-wordlist_right_infor_content_list_infor-comment {
    width: 13em;
    padding: 0.5em 0.5em;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.admin-main-wordlist_right_infor_content_list_infor-mail {
    width: 12em;
    padding: 0.5em 0.5em;
    overflow: hidden;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.admin-main-wordlist_right_infor_content_list_infor-icon {
    width: 2em;
    padding: 0.5em 0.5em;
    margin-left: 0.5em;
}

.admin-main-wordlist_right_infor_content_list_date {
    display: inline-table;
    width: 40%;
}

.admin-main-wordlist_right_infor_content_list_comment {
    display: inline-table;
    width: 50%;
    overflow: hidden;
    text-align: left;
    padding-left: 7em;
}

.admin-main-wordlist_right_infor_content_list_comment:hover {
    cursor: pointer;
    color: #F47124;
}

.fa-comment-dots {
    margin-right: 0.5em;
}

.admin-main-account-list-page-number {
    width: 80%;
    text-align: center;
    font-size: 80%;
    margin: auto;
    padding-top: 2em;
}

.admin-main-account-list-page-number a {
    color: black;
    padding: 12px 18px;
    text-decoration: none;
}

.admin-main-account-list-page-number a.active {
    background-color: #F47124;
    color: white;
    border-radius: 50%;
}

.admin-main-account-list-page-number a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50%;
}

/* modal */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    padding-left: 12em;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-container {
    width: 80%;
    position: relative;
  }

  /* The Close Button */

.close {
    color: #ffffff;
    float: right;
    font-size: 32px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#admin-main-wordlist_right_infor_title_list_modal {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    padding: 0.4em 1em;
    font-size: 90%;
    background-color: #F47124;
    font-weight: 600;
    letter-spacing: 0.08em;
    border-radius: 1em;
    margin: auto;
}

#admin-main-wordlist_right_infor_content_list_container_modal {
    width: 96%;
    border: 1px solid #F47124;
    padding: 0.5em 0.5em;
    border-radius: 0 0 0.5em 0.5em;
    margin-left: 1em;
    background-color: #FFFFFF;
    font-size: 90%;
}

.admin-main-wordlist_right_infor_content_list_post_modal {
    line-height: 1.5em;
    display: inline-table;
    width: 30%;
    margin-right: 2em;
    font-size: 90%;
}

.admin-main-wordlist_right_infor_content_list_modal {
    padding: 0.6em 0.5em; 
    font-size: 90%;
    border-bottom: 1px solid #F47124;
}

.admin-main-wordlist_right_infor_content_list_modal:last-child {
    padding: 0.6em 0.5em; 
    font-size: 90%;
    border: none;
}

.admin-main-wordlist_right_infor_content_list_comment_modal {
    display: inline-table;
    width: 30%;
    margin-right: 3em;
    font-size: 90%;
    overflow: hidden;
    height: 1em;
    line-height: 1.5em;
}

.admin-main-wordlist_right_infor_content_list_comment_modal:hover {
    color: #F47124;
    cursor: pointer;
}

.admin-main-wordlist_right_infor_content_list_mail_modal {
    display: inline-table;
    width: 20%;
    font-size: 90%;
    overflow: hidden;
}











